/* $Id$ */

readonly proc sxProxy(nm, elem, sxelem) is
	build_generic_module(nm & "SXProxy", "SXProxy", [elem,sxelem], [elem])
end

readonly proc SxProxy(nm, elem, sxelem) is
	Build_generic_module(nm & "SXProxy", "SXProxy", [elem,sxelem], [elem])
end
