(
    (site "S-SRC")
    (lockServer "swindle.pa.dec.com")
    (replicaServers "swindle.pa.dec.com" "bamboozle.pa.dec.com")
    (owner "firefly")
    (backupServers "swindle.pa.dec.com")
    (defaultRepository "cra")
    (ipPort "6666")
    (repositories
        ("cra" "/proj/cra/pkg"
            ("/proj/disks/d0/cra" "/proj/disks/d2/cra" "/proj/disks/d3/cra"))
        ("m3" "/proj/m3/pkg"
            ("/proj/disks/d0/m3" "/proj/disks/d1/m3"
             "/proj/disks/d2/m3" "/proj/disks/d3/m3"))
        ("adm" "/proj/adm/pkg" ("/proj/disks/d2/adm"))
        ("src" "/proj/src/pkg" ("/proj/disks/d2/src"))
    )
    (exports
        ("mips" "/proj/mips")
        ("man" "/proj/man")
        ("LINUX" "/proj/LINUX")
        ("m3" "/proj/m3")
        ("local" "/proj/local")
        ("ultrix" "/proj/ultrix")
        ("vax" "/proj/vax")
        ("alpha" "/proj/alpha")
        ("generic" "/proj/generic")
    )
    (remoteSites 
        (
           (site "S-PRL")
           (siphonServer "bucket.prl.dec.com")
           (ipPort "6666")
        )
        (
           (site "S-CRL")
           (siphonServer "caspian.crl.dec.com")
           (ipPort "6666")
        ))
)

