/* $Id: brandedset.tmpl,v 1.1.1.1 2001-09-19 11:40:10 wagner Exp $ */
readonly proc brandedSet(nm, elem, set) is
	build_generic_module(nm, "BrandedSet", [elem, set], [elem])
end

readonly proc BrandedSet(nm, elem, set) is
	Build_generic_module(nm, "BrandedSet", [elem, set], [elem])
end
