*.7z
*.tar.xz
.vagrant/
ALPHA32_VMS/
ALPHA64_VMS/
ALPHA_LINUX/
ALPHA_NETBSD/
ALPHA_OPENBSD/
ALPHA_OSF/
AMD64_CYGWIN/
AMD64_DARWIN/
AMD64_FREEBSD/
AMD64_HAIKU/
AMD64_LINUX/
AMD64_NETBSD/
AMD64_NT/
AMD64_OPENBSD/
AMD64_SOLARIS/
ARM32_DARWIN/
ARM32_LINUX/
ARM32_NT/
ARM64_DARWIN/
ARM64_LINUX/
ARM64_NT/
ARM64EC_NT/
ARM6_LINUX/
ARM7_LINUX/
ARMEL_LINUX/
ARMV6_LINUX/
ARMV7_LINUX/
ARM_DARWIN/
ARM_LINUX/
FBSD_ALPHA/
FreeBSD2/
FreeBSD3/
FreeBSD4/
FreeBSD5/
HPPA/
I386_CYGWIN/
I386_DARWIN/
I386_DJGPP/
I386_FREEBSD/
I386_HAIKU/
I386_INTERIX/
I386_LINUX/
I386_MINGW/
I386_MSDOS/
I386_NETBSD/
I386_NT/
I386_OPENBSD/
I386_SOLARIS/
IA64_FREEBSD/
IA64_HPUX/
IA64_HPUX32/
IA64_HPUX64/
IA64_LINUX/
IA64_NT/
IA64_VMS/
IBMR2/
IRIX5/
LINUXELF/
LINUXLIBC6/
MIPS32_IRIX/
MIPS32_LINUX/
MIPS64EL_OPENBSD/
MIPS64_IRIX/
MIPS64_LINUX/
MIPS64_OPENBSD/
NT386/
NT386GNU/
NT386MINGNU/
NetBSD2_i386/
PA32_HPUX/
PA32_LINUX/
PA64_HPUX/
PA64_LINUX/
PA_HPUX/
PPC32_AIX/
PPC32_OPENBSD/
PPC64_AIX/
PPC64_DARWIN/
PPC64_LINUX/
PPC_DARWIN/
PPC_LINUX/
PPC_OPENBSD/
RISCV64_LINUX/
SOLgnu/
SOLsun/
SPARC/
SPARC32_LINUX/
SPARC32_SOLARIS/
SPARC64_LINUX/
SPARC64_OPENBSD/
SPARC64_SOLARIS/
SPARC_LINUX/
SPARC_SOLARIS/
bootstrap/
concierge.log
m3-sys/m3cc/gcc-4.7/gcc/m3cg/
scripts/PKGS
scripts/python/cm3-boot-
