scripts/PKGS
ALPHA32_VMS
ALPHA64_VMS
ALPHA_OSF
AMD64_DARWIN
AMD64_FREEBSD
AMD64_LINUX
AMD64_NETBSD
AMD64_NT
AMD64_OPENBSD
AMD64_SOLARIS
ARM_DARWIN
FreeBSD2
FreeBSD3
FreeBSD4
FreeBSD5
HPPA
I386_CYGWIN
I386_DARWIN
I386_FREEBSD
I386_INTERIX
I386_LINUX
I386_MINGW
I386_NETBSD
I386_NT
I386_OPENBSD
I386_SOLARIS
IBMR2
IRIX5
LINUXELF
LINUXLIBC6
MIPS64_OPENBSD
NT386
NT386GNU
NT386MINGNU
NetBSD2_i386
PA32_HPUX
PA64_HPUX
PA_HPUX
PPC32_OPENBSD
PPC_DARWIN
PPC_LINUX
PPC_OPENBSD
SOLgnu
SOLsun
SPARC
SPARC32_LINUX
SPARC32_SOLARIS
SPARC64_LINUX
SPARC64_OPENBSD
SPARC64_SOLARIS
SPARC_LINUX
SPARC_SOLARIS