/* winRes.tmpl template, R. C. Coleburn */

/*****************************************************************************/
/* The purpose of this template is to permit adding Microsoft Windows        */
/* resources, such as icons, to a compiled program.  If the target platform  */
/* is not Windows, no action is taken.  So, you can simply put the following */
/* lines in your program's m3makefile:                                       */
/*   if equal (OS_TYPE, "WIN32")                                             */
/*      import ("windowsResources")                                          */
/*      WindowsResource("MyProgramIconResourceFile")                         */
/*   end                                                                     */
/*****************************************************************************/

readonly proc WindowsResource (file) is
   local src = path_of (file & ".rc")
   local res = file & ".res"
   
   if equal (OS_TYPE, "WIN32")
      if defined ("_all")
         if stale (res, src)
            exec ("rc -DWIN32 -i", path_of(""), "-fo", res, src)
         end
      end
      pgm_source (res)
      deriveds ("", [res])
   end
end
