
if defined ("SHAREDOBJGEN")
  % take the version specified by the user
  _SHAREDOBJ_STUBGEN = SHAREDOBJGEN
else
  %% - full path
  _SHAREDOBJ_STUBGEN = 
    format(ROOT & "/m3-comm/sharedobjgen/%s/shobjcodegen", BUILD_DIR)
  SHAREDOBJGEN = _SHAREDOBJ_STUBGEN
end
