%
%  Quake functions to instantiate operations on Daubechies wavelets for generic float types.
%

readonly proc RefinableFunction (nm, rfield, cfield) is
  local basic   = nm & "RefinableFunction"
  local vfield  = nm & "Vector"
  local mfield  = nm & "Matrix"
  local eigen   = nm & "EigenSystem"
  local signal  = nm & "Signal"
  build_generic_intf (basic, "RefinableFunction", [mfield, signal], VISIBLE)
  build_generic_impl (basic, "RefinableFunction", [mfield, signal])
end

readonly proc RefinableSmooth (nm, rfield, cfield) is
  local basic   = nm & "RefinableSmooth"
  local rtrans  = nm & "Trans"
  local vfield  = nm & "Vector"
  local vrep    = nm & "VectorRep"
  local vtrans  = nm & "VectorTrans"
  local ctrans  = cfield & "Trans"
  local cvtrans = cfield & "VectorTrans"
  local mfield  = nm & "Matrix"
%  local eigen   = nm & "EigenSystem"
  local eigen   = nm & "MatrixLapack"
  local signal  = nm & "Signal"
  local refn    = nm & "RefinableFunction"
  local bspl    = nm & "BSplineWavelet"
  build_generic_intf (basic, "RefinableSmooth", [rfield, vfield, mfield, eigen, signal], VISIBLE)
  build_generic_impl (basic, "RefinableSmooth", [rfield, rtrans, cfield, ctrans, vfield, vrep, vtrans, cvtrans, mfield, eigen, signal, refn, bspl])
end
