%
%  Quake functions to instantiate operations on generic polar numbers.
%

readonly proc PolarBasic (nm, field, rimpl, cimpl) is
  local basic  = nm & "PolarBasic"
  local rfield = field & rimpl
  local rtrans = field & "Trans"
  local cfield = field & "Complex" & cimpl
  local ctrans = field & "ComplexTrans"
  build_generic_intf (basic, "PolarBasic", [rfield, cfield], VISIBLE)
  build_generic_impl (basic, "PolarBasic", [rfield, rtrans, cfield, ctrans])
end

readonly proc PolarFmtLex (nm, field, rimpl) is
  local fmtlex = nm & "PolarFmtLex"
  local pfield = field & "PolarBasic"
  local rfield = field & rimpl
  local rfmt   = field & "FmtLex"
  build_generic_intf (fmtlex, "PolarFmtLex", [pfield,         rfmt], VISIBLE)
  build_generic_impl (fmtlex, "PolarFmtLex", [        rfield, rfmt])
end
