%
%  Quake functions to instantiate operations on generic fraction numbers.
%

readonly proc FractionBasic (nm, field, rimpl, gcd) is
  local basic  = nm & "FractionBasic"
  local rfield = field & rimpl
  build_generic_intf (basic, "FractionBasic", [rfield], VISIBLE)
  build_generic_impl (basic, "FractionBasic", [rfield, gcd])
end


readonly proc FractionFmtLex (nm, field, rimpl) is
  local basic  = nm & "FractionFmtLex"
  local rfield = field & rimpl
  local rfmt   = field & "FmtLex"
  local ffield = field & "FractionBasic"
  build_generic_intf (basic, "FractionFmtLex", [rfmt, ffield], VISIBLE)
  build_generic_impl (basic, "FractionFmtLex", [rfmt])
end
