%
%  Quake functions to instantiate operations on generic fraction numbers.
%

readonly proc FractionBasic (nm, field) is
  local basic = nm & "FractionBasic"
  build_generic_intf (basic, "FractionBasic", [field], VISIBLE)
  build_generic_impl (basic, "FractionBasic", [field])
end

readonly proc FractionFast (nm, field) is
  local basic = nm & "FractionFast"
  build_generic_intf (basic, "FractionFast", [field], VISIBLE)
  build_generic_impl (basic, "FractionFast", [field])
end


readonly proc FractionTrans (nm, ffield, rfield, rtrans) is
  local basic = nm & "FractionTrans"
  build_generic_intf (basic, "FractionTrans", [ffield, rfield], VISIBLE)
  build_generic_impl (basic, "FractionTrans", [ffield, rfield, rtrans])
end

readonly proc FractionFmtLex (nm, ffield, rfield, rfmt) is
  local basic = nm & "FractionFmtLex"
  build_generic_intf (basic, "FractionFmtLex", [ffield, rfmt], VISIBLE)
  build_generic_impl (basic, "FractionFmtLex", [rfmt])
end
