
%
%  Quake functions to instantiate operations on generic float numbers.
%

readonly proc FloatBasic (nm, mod, modt) is
  local basic = nm & "Basic"
  build_generic_intf (basic, "FloatBasic", [mod, modt], VISIBLE)
  build_generic_impl (basic, "FloatBasic", [])
end

readonly proc FloatTrans (nm, mod) is
  local trans = nm & "Trans"
  build_generic_intf (trans, "FloatTrans", [mod], VISIBLE)
  build_generic_impl (trans, "FloatTrans", [])
end
