
%
%  Quake functions to instantiate operations on generic float numbers.
%

readonly proc FloatBasic (nm, field, fieldt, fieldf) is
  local basic = nm & "Basic"
  build_generic_intf (basic, "FloatBasic", [field, fieldt, fieldf], VISIBLE)
  build_generic_impl (basic, "FloatBasic", [])
end

readonly proc FloatTrans (nm, field, fieldb) is
  local trans = nm & "Trans"
  build_generic_intf (trans, "FloatTrans", [field, fieldb], VISIBLE)
  build_generic_impl (trans, "FloatTrans", [field, fieldb])
end
