readonly proc word (T, nm) is
  build_generic_intf (nm & "Plus",    "Plus",    [], HIDDEN)
  build_generic_intf (nm & "Times",   "Times",   [], HIDDEN)
  build_generic_intf (nm & "Minus",   "Minus",   [], HIDDEN)
  build_generic_intf (nm & "Divide",  "Divide",  [], HIDDEN)
  build_generic_intf (nm & "Mod",     "Mod",     [], HIDDEN)
  build_generic_intf (nm & "LT",      "LT",      [], HIDDEN)
  build_generic_intf (nm & "LE",      "LE",      [], HIDDEN)
  build_generic_intf (nm & "GT",      "GT",      [], HIDDEN)
  build_generic_intf (nm & "GE",      "GE",      [], HIDDEN)
  build_generic_intf (nm & "And",     "And",     [], HIDDEN)
  build_generic_intf (nm & "Or",      "Or",      [], HIDDEN)
  build_generic_intf (nm & "Xor",     "Xor",     [], HIDDEN)
  build_generic_intf (nm & "Not",     "Not",     [], HIDDEN)
  build_generic_intf (nm & "Shift",   "Shift",   [], HIDDEN)
  build_generic_intf (nm & "Rotate",  "Rotate",  [], HIDDEN)
  build_generic_intf (nm & "Extract", "Extract", [], HIDDEN)
  build_generic_intf (nm & "Insert",  "Insert",  [], HIDDEN)

  build_generic_impl (nm & "Plus",    "Plus",    [T])
  build_generic_impl (nm & "Times",   "Times",   [T])
  build_generic_impl (nm & "Minus",   "Minus",   [T])
  build_generic_impl (nm & "Divide",  "Divide",  [T])
  build_generic_impl (nm & "Mod",     "Mod",     [T])
  build_generic_impl (nm & "LT",      "LT",      [T])
  build_generic_impl (nm & "LE",      "LE",      [T])
  build_generic_impl (nm & "GT",      "GT",      [T])
  build_generic_impl (nm & "GE",      "GE",      [T])
  build_generic_impl (nm & "And",     "And",     [T])
  build_generic_impl (nm & "Or",      "Or",      [T])
  build_generic_impl (nm & "Xor",     "Xor",     [T])
  build_generic_impl (nm & "Not",     "Not",     [T])
  build_generic_impl (nm & "Shift",   "Shift",   [T])
  build_generic_impl (nm & "Rotate",  "Rotate",  [T])
  build_generic_impl (nm & "Extract", "Extract", [T])
  build_generic_impl (nm & "Insert",  "Insert",  [T])

  build_generic_intf (nm & "Module", "Module", [], HIDDEN)
  build_generic_impl (nm & "Module", "Module",
   [T,
    nm & "Plus", nm & "Times", nm & "Minus", nm & "Divide", nm & "Mod",
    nm & "LT", nm & "LE", nm & "GT", nm & "GE",
    nm & "And", nm & "Or", nm & "Xor", nm & "Not",
    nm & "Shift", nm & "Rotate", nm & "Extract", nm & "Insert"])
end
