
%
%  Quake functions to instantiate operations on generic float numbers.
%

readonly proc IntegerBasic (nm, ifield, itype) is
  local basic = nm & "IntegerBasic"
  build_generic_intf (basic, "IntegerBasic", [ifield, itype], VISIBLE)
  build_generic_impl (basic, "IntegerBasic", [])
end

readonly proc IntegerFmtLex (nm, ifield) is
  local basic = nm & "IntegerFmtLex"
  build_generic_intf (basic, "IntegerFmtLex", [ifield], VISIBLE)
  build_generic_impl (basic, "IntegerFmtLex", [ifield])
end
