%
%  Quake functions to instantiate operations on generic matrices.
%

readonly proc LAPACKToModula3 (nm, field, src, prefix, Prefix) is
  local raw = nm & src
  exec(path()&SL&"lapack2i3.sh",raw,prefix,Prefix,">"&path()&SL&raw&".i3")
end

readonly proc Lapack (nm, rfield) is
  local rtrans  = nm & "Trans"
  local cfield  = nm & "Complex"
  local vector  = nm & "Vector"
  local vrep    = nm & "VectorRep"
  local cvector = nm & "ComplexVector"
  local cvrep   = nm & "ComplexVectorRep"
  local matrix  = nm & "Matrix"
  local mdec    = nm & "MatrixDecomposition"
  local meig    = nm & "EigenSystem"
  local mlap    = nm & "MatrixLapack"
  local mlapraw = mlap & "Raw"
  module (mlapraw)
  build_generic_intf (mlap, "FloatMatrixLapack", [rfield,         vector,                matrix, mdec, meig], VISIBLE)
  build_generic_impl (mlap, "FloatMatrixLapack", [rfield, cfield, vector, vrep, cvector, matrix, mlapraw])
end
