%
% Paper over SOME cross-build scenarios, without affecting native builds.
%

if defined("M3BUNDLE")
  _M3BUNDLE = M3BUNDLE
else
    proc GetM3BundleOverride() is

        proc FileExists (a) is
            return not stale (a, a)
        end

        local HOST_BUILDDIR = BUILD_DIR
        if defined("HOST")
            if not equal(HOST, TARGET)
                HOST_BUILDDIR = HOST
            end
        end

        local a = [ ROOT & "/m3-tools/m3bundle/" & HOST_BUILDDIR & "/m3bundle" ]

        if equal(HOST_BUILDDIR, "SOLgnu")
            a += ROOT & "/m3-tools/m3bundle/SOLsun/m3bundle"
        end

        if equal(HOST_BUILDDIR, "SOLsun")
            a += ROOT & "/m3-tools/m3bundle/SOLgnu/m3bundle"
        end

        foreach b in a
            foreach c in [ b & ".exe", b ]
                if FileExists(c)
                    M3BUNDLE = c
                    _M3BUNDLE = c
                    return
                end
            end
        end
    end

    GetM3BundleOverride()
end
