%
%  Quake functions to instantiate operations on BSpline wavelets for generic float types.
%

readonly proc BSplineWavelet (nm, rfield) is
  local basic  = nm & "BSplineWavelet"
  local vector = nm  & "Vector"
  local signal = nm  & "Signal"
  local intpow = signal & "IntegerPower"
  local db     = nm  & "DaubechiesWavelet"
  build_generic_intf (basic, "BSplineWavelet", [signal], VISIBLE)
  build_generic_impl (basic, "BSplineWavelet", [rfield, vector, signal, intpow, db])
end
