%
%  Quake functions to instantiate operations on Daubechies wavelets for generic float types.
%

readonly proc DaubechiesWavelet (nm, rfield) is
  local basic  = nm & "DaubechiesWavelet"
  local trans  = nm & "Trans"
  local signal = nm & "Signal"
  local intpow = signal & "IntegerPower"
  build_generic_intf (basic, "DaubechiesWavelet", [signal], VISIBLE)
  build_generic_impl (basic, "DaubechiesWavelet", [rfield, trans, signal, intpow])
end
