%
%  Quake functions to instantiate operations on filter banks.
%

readonly proc FilterBank (nm, rfield) is
  local basic    = nm & "FilterBank"
  local signal   = nm & "Signal"
  local vsfield  = nm & "SignalVector"
  local msfield  = nm & "SignalMatrix"

  build_generic_intf (basic, "FilterBank", [signal, vsfield, msfield], VISIBLE)
  build_generic_impl (basic, "FilterBank", [signal,          msfield])
end

readonly proc DyadicFilterBank (nm, rfield) is
  local basic   = nm & "DyadicFilterBank"
  local signal  = nm & "Signal"
  build_generic_intf (basic,   "DyadicFilterBank", [signal], VISIBLE)
  build_generic_impl (basic,   "DyadicFilterBank", [signal])
end

% this cannot be instantiated for rational numbers
readonly proc VanillaDyadicFilterBank (nm, rfield) is
  local basic   = nm & "DyadicFilterBank"
  local vanilla = nm & "VanillaDyadicFilterBank"
  local signal  = nm & "Signal"
  local rtrans  = nm & "Trans"
  build_generic_intf (vanilla, "VanillaDyadicFilterBank", [signal, basic], VISIBLE)
  build_generic_impl (vanilla, "VanillaDyadicFilterBank", [rtrans])
end
