%
%  Quake functions to instantiate fourier transform on generic float types.
%

readonly proc FourierTransform (nm, rfield) is
  local base   = nm & "FourierTransform"
  local rtrans = nm & "Trans"
  local cfield = nm & "Complex"
  local ctrans = nm & "ComplexTrans"
  build_generic_intf (base, "FourierTransform", [                cfield], VISIBLE)
  build_generic_impl (base, "FourierTransform", [rfield, rtrans, cfield, ctrans])
end
