%
% Paper over SOME cross-build scenarios, without affecting native builds.
%
HOST_BUILDDIR = BUILD_DIR
if defined("HOST")
    if not equal(HOST, TARGET)
        HOST_BUILDDIR = HOST
    end
end

if defined ("STUBGEN")
  % take the version specified by the user
  _NETOBJ_STUBGEN = STUBGEN
else
  _NETOBJ_STUBGEN = format (ROOT & "/m3-comm/stubgen/%s/stubgen", HOST_BUILDDIR)
  STUBGEN = _NETOBJ_STUBGEN
end
