% Copyright (C) 1993 Digital Equipment Corporation
% All rights reserved.
% See the file COPYRIGHT for a full description.
%
% Last modified on Mon Sep 20 12:28:24 PDT 1993 by kalsow 

%
%  Quake functions to instantiate a generic sequence
%  with elements of type "elt.T".  The resulting modules
%  are named  'nmShSeq' and 'nmShSeqRep'.

readonly proc _build_shsequence (nm, elt, vis) is
  local seq  = nm & "ShSeq"
  local rep  = nm & "ShSeqRep"

  build_generic_intf (seq, "ShSequence",    [elt],          vis)
  build_generic_intf (rep, "ShSequenceRep", [elt, seq],     vis)
  build_generic_impl (seq, "ShSequence",    [elt, seq, rep])

  sharedobj(seq, "T", rep)
end

readonly proc shsequence (nm, elt) is
  _build_shsequence (nm, elt, HIDDEN)
end

readonly proc ShSequence (nm, elt) is
  _build_shsequence (nm, elt, VISIBLE)
end
