%
%  Quake functions to instantiate operations on generic roots.
%

readonly proc RootBasic (nm, pfield, field) is
  local basic = nm & "RootBasic"
  build_generic_intf (basic, "RootBasic", [pfield, field], VISIBLE)
  build_generic_impl (basic, "RootBasic", [pfield, field])
end

readonly proc RootApproximation (nm, croot, ctrans, cfield, rroot, rtrans, rfield) is
  local basic = nm & "RootApproximation"
  build_generic_intf (basic, "RootApproximation", [croot, cfield, rroot, rfield], VISIBLE)
  build_generic_impl (basic, "RootApproximation", [croot, ctrans, cfield, rroot, rtrans, rfield])
end
