%
% $Id$
%

readonly proc SchemeAutoTbl(nm, tbl, k, v) is
  Build_generic_module(nm & "SchemeAutoTbl", "SchemeAutoTbl", [tbl, k, v], [tbl, k, v])
end

readonly proc schemeAutoTbl(nm, tbl, k, v) is
  build_generic_module(nm & "SchemeAutoTbl", "SchemeAutoTbl", [tbl, k, v], [tbl, k, v])
end
	