%
%  Quake functions to instantiate generic Euler summation.
%

readonly proc EulerSum (nm, field, rimpl) is
  local basic  = nm & "EulerSum"
  local rfield = field & rimpl
  local rtrans = field & "Trans"
  build_generic_intf (basic, "EulerSum", [rfield], VISIBLE)
  build_generic_impl (basic, "EulerSum", [rfield, rtrans])
end
