%
%  Quake functions to instantiate generic zero finders.
%

readonly proc FindZero (nm, rfield) is
  local basic  = nm & "FindZero"
  local rtrans = nm & "Trans"
  build_generic_intf (basic, "FindZero", [rfield], VISIBLE)
  build_generic_impl (basic, "FindZero", [rfield, rtrans])
end
