%
%  Quake functions to instantiate generic zero finders.
%

readonly proc Interpolation (nm, field, rimpl, vimpl) is
  local base   = nm & "Interpolation"
  local rfield = field & rimpl
  local rtrans = field & "Trans"
  local vfield = nm & vimpl
  build_generic_intf (base, "Interpolation", [rfield,         vfield], VISIBLE)
  build_generic_impl (base, "Interpolation", [rfield, rtrans, vfield])
end
