%
%  Quake functions to instantiate operations on generic fraction numbers.
%

readonly proc ResidueClass (nm, impl, rfield, gcd) is
  local base  = nm & "ResidueClass"
  build_generic_intf (base, "ResidueClass"&impl, [rfield], VISIBLE)
  build_generic_impl (base, "ResidueClass"&impl, [rfield, gcd])
end


readonly proc ResidueClassFmtLex (nm, rfield) is
  local basic  = nm & "ResidueClassFmtLex"
  local rfmt   = nm & "FmtLex"
  local ffield = nm & "ResidueClass"
  build_generic_intf (basic, "ResidueClassFmtLex", [rfmt, ffield], VISIBLE)
  build_generic_impl (basic, "ResidueClassFmtLex", [rfmt])
end
