%
%  Quake functions to instantiate operations on generic continuous wavelet transform.
%

readonly proc ContinuousWaveletTransform (nm, stem, impl) is
  local base      = nm & "ContinuousWaveletTransform"
  local cbase     = nm & "ComplexContinuousWaveletTransform"
  local field     = stem & impl
  local rfield    = stem & impl
  local signal    = stem & "Signal"
  local csignal   = stem & "ComplexSignal"
  local vector    = stem & "Vector"
  local rtrans    = stem & "Trans"
  local rvector   = stem & "VectorFast"
  local vsupport  = stem & "VectorSupport"
  local cvsupport = stem & "ComplexVectorSupport"
  local complex   = stem & "Complex"
  local cvector   = stem & "ComplexVector"
  local conv      = stem & "Convolution"
  local cconv     = stem & "ComplexConvolution"

  build_generic_intf (base, "ContinuousWaveletTransform",
     [rfield, rvector, rfield, signal, conv], VISIBLE)
  build_generic_impl (base, "ContinuousWaveletTransform",
     [field, rtrans, rvector, field, vector, signal, conv])

  build_generic_intf (cbase, "ContinuousWaveletTransform",
     [rfield, rvector, complex, csignal, cconv], VISIBLE)
  build_generic_impl (cbase, "ContinuousWaveletTransform",
     [field, rtrans, rvector, complex, cvector, csignal, cconv])
end
