%
%  Quake functions to instantiate operations on generic continuous wavelet transform.
%

readonly proc ContinuousWaveletTransform (nm, stem, impl) is
  local cwt       = nm & "ContinuousWaveletTransform"
  local ccwt      = nm & "ComplexContinuousWaveletTransform"
  local cwa       = nm & "ContinuousWaveletAnalysis"
  local ccwa      = nm & "ComplexContinuousWaveletAnalysis"
  local cws       = nm & "ContinuousWaveletSynthesis"
  local ccws      = nm & "ComplexContinuousWaveletSynthesis"

  local field     = stem & impl
  local rfield    = stem & impl
  local signal    = stem & "Signal"
  local csignal   = stem & "ComplexSignal"
  local vector    = stem & "Vector"
  local rtrans    = stem & "Trans"
  local rvector   = stem & "VectorFast"
  local vsupport  = stem & "VectorSupport"
  local cvsupport = stem & "ComplexVectorSupport"
  local complex   = stem & "Complex"
  local cvector   = stem & "ComplexVector"
  local conv      = stem & "Convolution"
  local cconv     = stem & "ComplexConvolution"

  build_generic_intf (cwt, "ContinuousWaveletTransform",
     [rfield, rfield, vector, signal], VISIBLE)
  build_generic_impl (cwt, "ContinuousWaveletTransform",
     [field, rtrans, field, vector])

  build_generic_intf (ccwt, "ContinuousWaveletTransform",
     [rfield, complex, cvector, csignal], VISIBLE)
  build_generic_impl (ccwt, "ContinuousWaveletTransform",
     [field, rtrans, complex, cvector])

  build_generic_intf (cwa, "ContinuousWaveletAnalysis",
     [rfield, rvector, signal, conv, cwt], VISIBLE)
  build_generic_impl (cwa, "ContinuousWaveletAnalysis",
     [rfield, rvector, signal, conv, cwt])

  build_generic_intf (ccwa, "ContinuousWaveletAnalysis",
     [rfield, rvector, csignal, cconv, ccwt], VISIBLE)
  build_generic_impl (ccwa, "ContinuousWaveletAnalysis",
     [rfield, rvector, csignal, cconv, ccwt])

  build_generic_intf (cws, "ContinuousWaveletSynthesis",
     [rfield, rvector, signal, conv, cwt], VISIBLE)
  build_generic_impl (cws, "ContinuousWaveletSynthesis",
     [rfield, rvector, signal, conv, cwt])

  build_generic_intf (ccws, "ContinuousWaveletSynthesis",
     [rfield, rvector, csignal, cconv, ccwt], VISIBLE)
  build_generic_impl (ccws, "ContinuousWaveletSynthesis",
     [rfield, rvector, csignal, cconv, ccwt])
end
