%
%  Quake functions to instantiate operations on generic continuous wavelet transform.
%

readonly proc Convolution (nm, stem, impl) is
  local base      = nm & "Convolution"
  local cbase     = nm & "ComplexConvolution"
  local field     = stem & impl
  local poly      = stem & "Polynomial"
  local cpoly     = stem & "ComplexPolynomial"
  local vector    = stem & "Vector"
  local vsupport  = stem & "VectorSupport"
  local complex   = stem & "Complex"
  local cvector   = stem & "ComplexVector"
  local cvsupport = stem & "ComplexVectorSupport"
  local fourier   = stem & "FFTW"

  build_generic_intf (base, "Convolution", [vector], VISIBLE)
  build_generic_impl (base, "Convolution",
     [field, poly, vsupport, complex, cvector, fourier])

  build_generic_intf (cbase, "Convolution", [cvector], VISIBLE)
  build_generic_impl (cbase, "ComplexConvolution",
     [cpoly, cvsupport, complex, cvector, fourier])
end
