%
%  Quake functions to instantiate operations on generic signals.
%

readonly proc Signal (nm, field, rimpl, vimpl, pimpl) is
  local signal  = nm & "Signal"
  local rep     = signal & "Rep"
  local fmtlex  = signal & "FmtLex"
  local rfmtlex = field & "FmtLex"
  local rfield  = field & rimpl
  local vfield  = field & "Vector" & vimpl
  local vecsup  = field & "VectorSupport"
  local pfield  = field & "Polynomial" & pimpl

  build_generic_intf (signal, "Signal",       [rfield,      vfield], VISIBLE)
  build_generic_impl (signal, "Signal",       [rfield, rep, vfield, vecsup, pfield])

  build_generic_intf (fmtlex, "SignalFmtLex", [rfmtlex, signal], VISIBLE)
  build_generic_impl (fmtlex, "SignalFmtLex", [rfmtlex, rep])

  build_generic_intf (rep,    "SignalRep",    [vfield, signal, fmtlex], VISIBLE)
end
