%
%  Quake functions to instantiate operations on generic signals.
%

readonly proc Signal (nm, field, ffmtlex, poly) is
  local signal = nm & "Signal"
  local rep    = signal & "Rep"
  local fmtlex = signal & "FmtLex"

  build_generic_intf (signal, "Signal",       [field, poly], VISIBLE)
  build_generic_impl (signal, "Signal",       [field, rep, poly])

  build_generic_intf (fmtlex, "SignalFmtLex", [ffmtlex, signal], VISIBLE)
  build_generic_impl (fmtlex, "SignalFmtLex", [ffmtlex, rep])

  build_generic_intf (rep,    "SignalRep",    [field, signal, fmtlex], VISIBLE)
end
