readonly proc _liste (nm, elt, vis) is
    local list = nm & "List"
    local liste = nm & "ListExtras"
    build_generic_intf (list, "List", [elt], vis)
    build_generic_impl (list, "List", [elt])
    build_generic_intf (liste, "ListExtras", [elt, list], vis)
    build_generic_impl (liste, "ListExtras", [elt, list])
  end
  
readonly proc Liste (nm, elt) is _liste (nm, elt, VISIBLE) end
readonly proc liste (nm, elt) is _liste (nm, elt, HIDDEN)  end