readonly proc __queue (nm, elt, vis) is
    local queue = nm & "Queue"
    local queue = nm & "QueueExtras"
    build_generic_intf (queue, "Queue", [elt], vis)
    build_generic_impl (queue, "Queue", [elt])
    %build_generic_intf (queue, "QueueExtras", [elt, queue], vis)
    %build_generic_impl (queue, "QueueExtras", [elt, queue])
  end
  
readonly proc Queue (nm, elt) is __queue (nm, elt, VISIBLE) end
readonly proc queue (nm, elt) is __queue (nm, elt, HIDDEN)  end
