readonly proc _starter (nm, elt, vis) is
    local starter = nm & "Starter"
    build_generic_intf (starter, "Starter", [elt], vis)
    build_generic_impl (starter, "Starter", [elt])
  end
  
readonly proc Starter (nm, pane) is _starter (nm, pane, VISIBLE) end
readonly proc starter (nm, pane) is _starter (nm, pane, HIDDEN)  end

readonly proc _vbtStarter (nm, elt, vis) is
    local starter = nm & "Starter"
    local pane = nm & "Pane"
    build_generic_intf (pane, "VBTPane", [elt], vis)
    build_generic_impl (pane, "VBTPane", [elt])
    build_generic_intf (starter, "Starter", [pane], vis)
    build_generic_impl (starter, "Starter", [pane])
  end

readonly proc VbtStarter (nm, vbt) is _vbtStarter (nm, vbt, VISIBLE) end
readonly proc vbtStarter (nm, vbt) is _vbtStarter (nm, vbt, HIDDEN)  end