%
%  Quake functions to instantiate operations on generic physical entities.
%

readonly proc PhysicalValue (nm, field) is
  local basic = nm & "PhysicalValue"
  build_generic_intf (basic, "PhysicalValue", [field], VISIBLE)
  build_generic_impl (basic, "PhysicalValue", [field])
end

readonly proc UnitDatabase (nm, field) is
  local udb    = nm & "UnitDatabase"
  local uu     = nm & "UsualUnit"
  local uulist = uu & "List"
  list(uu, uu)
  local cu     = nm & "CompositeUnit"
  local culist = cu & "List"
  list(cu, cu)
  build_generic_intf (uu,  "UsualUnit",     [field], VISIBLE)
  build_generic_impl (uu,  "UsualUnit",     [])
  build_generic_intf (cu,  "CompositeUnit", [uulist], VISIBLE)
  build_generic_impl (cu,  "CompositeUnit", [])
  build_generic_intf (udb, "UnitDatabase",  [field, uu, uulist,     culist], VISIBLE)
  build_generic_impl (udb, "UnitDatabase",  [       uu, uulist, cu, culist])
end


readonly proc PhysicalValueFmtLex (nm, cfield, rfield, rfmt) is
  local basic = nm & "PhysicalValueFmtLex"
  build_generic_intf (basic, "PhysicalValueFmtLex", [cfield, rfmt], VISIBLE)
  build_generic_impl (basic, "PhysicalValueFmtLex", [rfield, rfmt])
end
