%
%  Quake functions to instantiate operations on generic physical entities.
%

readonly proc PhysicalValue (nm, field) is
  local basic = nm & "PhysicalValue"
  build_generic_intf (basic, "PhysicalValue", [field], VISIBLE)
  build_generic_impl (basic, "PhysicalValue", [field])
end

readonly proc UnitDatabase (nm, field) is
  local udb    = nm & "UnitDatabase"
  local uu     = nm & "UsualUnit"
  local uulist = uu & "List"
  list(uu, uu)
  local cu     = nm & "CompositeUnit"
  local culist = cu & "List"
  list(cu, cu)
  build_generic_intf (uu,  "UsualUnit",     [field], VISIBLE)
  build_generic_impl (uu,  "UsualUnit",     [])
  build_generic_intf (cu,  "CompositeUnit", [uulist], VISIBLE)
  build_generic_impl (cu,  "CompositeUnit", [])
  build_generic_intf (udb, "UnitDatabase",  [field, uu, uulist,     culist], VISIBLE)
  build_generic_impl (udb, "UnitDatabase",  [       uu, uulist, cu, culist])
end

readonly proc SIUnit (nm, field) is
  local siunit  = nm & "SIUnit"
  local rfield  = nm & "Basic"
  local rtrans  = nm & "Trans"
  local ruu     = nm & "UsualUnit"
  local rudb    = nm & "UnitDatabase"
  build_generic_intf (siunit, "SIUnit", [rudb], VISIBLE)
  build_generic_impl (siunit, "SIUnit", [rtrans, ruu, rudb])
end


readonly proc PhysicalValueFmtLex (nm, field) is
  local fmt     = nm & "PhysicalValueFmtLex"
  local rfield  = nm & "Basic"
  local rtrans  = nm & "Trans"
  local rfmt    = nm & "FmtLex"
  local rpv     = nm & "PhysicalValue"
  local rcu     = nm & "CompositeUnit"
  local rculist = rcu & "List"
  local rudb    = nm & "UnitDatabase"
  local siunit  = nm & "SIUnit"
  build_generic_intf (fmt, "PhysicalValueFmtLex", [rfmt, rpv, rudb], VISIBLE)
  build_generic_impl (fmt, "PhysicalValueFmtLex", [rfield, rtrans, rfmt, rudb])
end
