%
%  Quake functions to instantiate operations on generic polynomials.
%

readonly proc Polynomial (nm, impl, field, rimpl) is
  local base     = nm & "Polynomial"
  local instimpl = base & impl
  local rfield   = field & rimpl
  local vfield   = field & "Vector"
  local vrep     = field & "VectorRep"
  build_generic_intf (base,     "Polynomial",        [rfield, vfield, instimpl], VISIBLE)
  build_generic_impl (base,     "Polynomial",        [rfield])
  build_generic_intf (instimpl, "Polynomial" & impl, [rfield, vfield], VISIBLE)
  build_generic_impl (instimpl, "Polynomial" & impl, [rfield, vrep])
end

readonly proc PolynomialFmtLex (nm, field, rimpl) is
  local pfmt   = nm & "PolynomialFmtLex"
  local rfield = field & rimpl
  local rfmt   = field & "FmtLex"
  local pfield = field & "Polynomial"
  build_generic_intf (pfmt, "PolynomialFmtLex", [        rfmt, pfield], VISIBLE)
  build_generic_impl (pfmt, "PolynomialFmtLex", [rfield, rfmt        ])
end
