%
%  Quake functions to instantiate operations on generic polynomials.
%

readonly proc PolynomialBasic (nm, field, rimpl) is
  local basic  = nm & "PolynomialBasic"
  local vfield = nm & "Vector"
  local vrep   = nm & "VectorRep"
  local rfield = field & rimpl
  build_generic_intf (basic, "PolynomialBasic", [rfield, vfield], VISIBLE)
  build_generic_impl (basic, "PolynomialBasic", [rfield, vrep])
end

readonly proc PolynomialFast (nm, field, rimpl) is
  PolynomialBasic(nm,field,rimpl)
  local basic  = nm & "PolynomialBasic"
  local fast   = nm & "PolynomialFast"
  local rfield = field & rimpl
  local vfield = field & "Vector"
  build_generic_intf (fast,  "PolynomialFast",  [rfield, vfield, basic], VISIBLE)
  build_generic_impl (fast,  "PolynomialFast",  [rfield])
end

readonly proc PolynomialFmtLex (nm, field, rimpl, pimpl) is
  local pfmt   = nm & "PolynomialFmtLex"
  local rfield = field & rimpl
  local rfmt   = field & "FmtLex"
  local pfield = field & "Polynomial" & pimpl
  build_generic_intf (pfmt, "PolynomialFmtLex", [        rfmt, pfield], VISIBLE)
  build_generic_impl (pfmt, "PolynomialFmtLex", [rfield, rfmt        ])
end
