%
%  Quake functions to instantiate operations on generic vectors.
%

readonly proc Vector (nm, impl, field, rimpl) is
  local base     = nm & "Vector"
  local rep      = base & "Rep"
  local instimpl = base & impl
  local rfield   = field & rimpl
  build_generic_intf (base,     "Vector",        [rfield], VISIBLE)
  build_generic_impl (base,     "Vector",        [rfield, rep])
  build_generic_intf (rep,      "VectorRep",     [rfield, base, instimpl], VISIBLE)
  build_generic_impl (rep,      "VectorRep",     [rfield, base])
  build_generic_intf (instimpl, "Vector" & impl, [rfield, base], VISIBLE)
  build_generic_impl (instimpl, "Vector" & impl, [rfield, base])
end

readonly proc VectorTrans (nm, real, complex, cimpl) is
  local rfield = real & "Basic"
  local rtrans = real & "Trans"
  local cfield = real & complex & cimpl
  local ctrans = real & complex & "Trans"
  local vfield = nm & "Vector"
  local vtrans = nm & "VectorTrans"
  local vrep   = nm & "VectorRep"
  build_generic_intf (vtrans, "VectorTrans", [rfield, vfield], VISIBLE)
  build_generic_impl (vtrans, "VectorTrans", [rfield, rtrans, ctrans])
end

readonly proc VectorFmtLex (nm) is
  local rfmt   = nm & "FmtLex"
  local vfield = nm & "Vector"
  local vfmt   = nm & "VectorFmtLex"
  local vrep   = nm & "VectorRep"
  build_generic_intf (vfmt, "VectorFmtLex", [rfmt, vfield], VISIBLE)
  build_generic_impl (vfmt, "VectorFmtLex", [rfmt])
end
