%
%  Quake functions to instantiate operations on generic vectors.
%

readonly proc VectorBasic (nm, field) is
  local basic = nm & "VectorBasic"
  build_generic_intf (basic, "VectorBasic", [field], VISIBLE)
  build_generic_impl (basic, "VectorBasic", [field])
end

readonly proc VectorFast (nm, field) is
  local basic = nm & "VectorBasic"
  local fast  = nm & "VectorFast"
  build_generic_intf (basic, "VectorBasic", [field], VISIBLE)
  build_generic_impl (basic, "VectorBasic", [field])
  build_generic_intf (fast,  "VectorFast",  [field, basic], VISIBLE)
  build_generic_impl (fast,  "VectorFast",  [field])
end

readonly proc VectorTrans (nm, vector, cfield, ctrans, rfield, rtrans) is
  local basic = nm & "VectorTrans"
  build_generic_intf (basic, "VectorTrans", [vector, rfield], VISIBLE)
  build_generic_impl (basic, "VectorTrans", [ctrans, rfield, rtrans])
end

readonly proc VectorFmtLex (nm, vector, rfmt) is
  local basic = nm & "VectorFmtLex"
  build_generic_intf (basic, "VectorFmtLex", [vector, rfmt], VISIBLE)
  build_generic_impl (basic, "VectorFmtLex", [rfmt])
end
