%
%  Quake functions to instantiate operations on generic vectors.
%

readonly proc VectorBasic (nm, field) is
  local basic = nm & "VectorBasic"
  build_generic_intf (basic, "VectorBasic", [field], VISIBLE)
  build_generic_impl (basic, "VectorBasic", [field])
end

readonly proc VectorFast (nm, field) is
  local basic = nm & "VectorBasic"
  local fast  = nm & "VectorFast"
  build_generic_intf (basic, "VectorBasic", [field], VISIBLE)
  build_generic_impl (basic, "VectorBasic", [field])
  build_generic_intf (fast,  "VectorFast",  [field, basic], VISIBLE)
  build_generic_impl (fast,  "VectorFast",  [field])
end

readonly proc VectorTrans (nm, vimpl, real, complex, cimpl) is
  local rfield = real & "Basic"
  local rtrans = real & "Trans"
  local cfield = real & complex & cimpl
  local ctrans = real & complex & "Trans"
  local vfield = nm & "Vector" & vimpl
  local vtrans = nm & "VectorTrans"
  build_generic_intf (vtrans, "VectorTrans", [rfield, vfield], VISIBLE)
  build_generic_impl (vtrans, "VectorTrans", [rfield, rtrans, ctrans])
end

readonly proc VectorFmtLex (nm, vimpl) is
  local vfield = nm & "Vector" & vimpl
  local vfmt   = nm & "VectorFmtLex"
  local rfmt   = nm & "FmtLex"
  build_generic_intf (vfmt, "VectorFmtLex", [rfmt, vfield], VISIBLE)
  build_generic_impl (vfmt, "VectorFmtLex", [rfmt])
end
