# This make must be placed in the target directory which contains the
# cross-compiled intermediate language and assembler files.

# LIBNAME must be set on the command line

CC    := gcc
CM3CG := cm3cg
AS    := as
AR    := ar

.PHONY: clean-as clean-obj clean all

FILES_IC := $(wildcard *.ic)
FILES_MC := $(wildcard *.mc)
FILES_IS := $(wildcard *.is)
FILES_MS := $(wildcard *.ms)
FILES_C  := $(wildcard *.c)
BASES_IC := $(basename $(FILES_IC))
BASES_MC := $(basename $(FILES_MC))
BASES_C  := $(basename $(FILES_C))
OBJ_IO   := $(addsuffix .io, $(BASES_IC))
OBJ_MO   := $(addsuffix .mo, $(BASES_MC))
OBJ_O    := $(addsuffix .o, $(BASES_C))
OBJECTS  := $(OBJ_IO) $(OBJ_MO) $(OBJ_O)

all: $(LIBNAME)
$(LIBNAME): $(OBJECTS)
	$(AR) cru $(LIBNAME) $(OBJECTS)

%.o: %.c
	$(CC) -o $@ -c $<

%.mo: %.mc
	$(CM3CG) -quiet -o $@ $<

%.io: %.ic
	$(CM3CG) -quiet -o $@ $<

clean-as:
	rm -f $(FILES_IS)
	rm -f $(FILES_MS)

clean-obj:
	rm -f $(OBJ_IO)
	rm -f $(OBJ_MO)
	rm -f $(OBJ_O)
	rm -f $(LIBNAME)

clean: clean-obj clean-as
