%
%  Quake functions to instantiate operations for matching wavelets for generic float types.
%

readonly proc WaveletMatch (nm, rfield) is
  local match         = nm & "WaveletMatch"
  local matchgradlift = nm & "WaveletMatchGradientLift"
  local matchgrad     = nm & "WaveletMatchGradient"
  local matchbasis    = nm & "WaveletMatchBasis"
  local matchsmooth   = nm & "WaveletMatchSmooth"
  local rpower        = nm & "IntegerPower"
  local rtrans        = nm & "Trans"
  local rfmt          = nm & "FmtLex"
  local vector        = nm & "Vector"
  local vtrans        = nm & "VectorTrans"
  local vfmt          = nm & "VectorFmtLex"
  local matrix        = nm & "Matrix"
  local lapack        = nm & "MatrixLapack"
  local mpower        = nm & "MatrixIntegerPower"
  local mfmt          = nm & "MatrixFmtLex"
  local signal        = nm & "Signal"
  local sfmt          = nm & "SignalFmtLex"
  local spower        = nm & "SignalIntegerPower"
  local refine        = nm & "RefinableFunction"
  local refnsm        = nm & "RefinableSmooth"
  local functional    = nm & "LapackFunctional"
  local derive        = nm & "FunctionalDeriv2"
  local filterbank    = nm & "DyadicFilterBank"
  local bspline       = nm & "BSplineWavelet"
  local waveletplot   = nm & "WaveletPlot"
  local plplot        = nm & "PLPlot"

  build_generic_intf (match, "WaveletMatch", [rfield, vector, matrix, signal], VISIBLE)
  build_generic_impl (match, "WaveletMatch", [rfield, vector, matrix, mpower, lapack, signal, refine])

  build_generic_intf (matchgradlift, "WaveletMatchGradientLift", [rfield, vector, matrix, signal, derive], VISIBLE)
  build_generic_impl (matchgradlift, "WaveletMatchGradientLift", [rfield, vector, matrix, signal, refnsm, derive])

  build_generic_intf (matchgrad, "WaveletMatchGradient", [rfield, vector, signal, derive], VISIBLE)
  build_generic_impl (matchgrad, "WaveletMatchGradient", [rfield, rfmt, vector, vfmt, matrix, signal, derive])

  build_generic_intf (matchbasis, "WaveletMatchBasis", [        signal, filterbank, matchgrad], VISIBLE)
  build_generic_impl (matchbasis, "WaveletMatchBasis",
    [rfield, rpower, signal, spower, filterbank, matchgrad, bspline, waveletplot])

  build_generic_intf (matchsmooth, "WaveletMatchSmooth", [rfield, signal, filterbank, matchbasis, matchgrad, refnsm], VISIBLE)
  build_generic_impl (matchsmooth, "WaveletMatchSmooth",
    [rfield, rpower, rtrans, rfmt, vector, vtrans, vfmt,
     matrix, lapack, mfmt, signal, sfmt, filterbank,
     functional, derive, refine,
     match, matchbasis, matchgrad, matchgradlift, plplot, waveletplot])
end
