%
%  Quake functions to instantiate operations on generic discrete wavelet transform.
%

readonly proc DiscreteWaveletTransform (nm, rfield) is
  local base     = nm & "DiscreteWaveletTransform"
  local signal   = nm & "Signal"
  local vsfield  = nm & "SignalVector"
  local vsrep    = nm & "SignalVectorRep"
  local msfield  = nm & "SignalMatrix"

  build_generic_intf (base, "DiscreteWaveletTransform", [        signal, vsfield, vsrep, msfield], VISIBLE)
  build_generic_impl (base, "DiscreteWaveletTransform", [rfield, signal, vsfield, vsrep, msfield])
end
