%
%  Quake functions to instantiate operations on generic discrete wavelet transform.
%

readonly proc DiscreteWaveletTransform (nm, rfield) is
  local dwt      = nm & "DiscreteWaveletTransform"
  local ddwt     = nm & "DyadicDiscreteWaveletTransform"
  local filter   = nm & "FilterBank"
  local dfilter  = nm & "DyadicFilterBank"
  local signal   = nm & "Signal"
  local vsfield  = nm & "SignalVector"
  local vsrep    = nm & "SignalVectorRep"
  local msfield  = nm & "SignalMatrix"

  build_generic_intf (dwt, "DiscreteWaveletTransform", [signal, vsfield, vsrep, msfield, filter], VISIBLE)
  build_generic_impl (dwt, "DiscreteWaveletTransform", [signal, vsfield, vsrep, msfield, filter])
  build_generic_intf (ddwt, "DyadicDiscreteWaveletTransform", [        signal, vsfield, dfilter], VISIBLE)
  build_generic_impl (ddwt, "DyadicDiscreteWaveletTransform", [rfield, signal, vsfield, dfilter, dwt])
end
