%
% Paper over SOME cross-build scenarios, without affecting native builds.
%
HOST_BUILDDIR = BUILD_DIR
if defined("HOST")
    if not equal(HOST, TARGET)
        HOST_BUILDDIR = HOST
    end
end

if defined ("M3ZUME")
  % take the version of m3zume specified by the user
  _ZUME_EXEC = M3ZUME
else
  _ZUME_EXEC = format (ROOT & "/m3-ui/m3zume/%s/m3zume", HOST_BUILDDIR)
  M3ZUME = _ZUME_EXEC
end
