%
%  Quake functions to instantiate combinatoric computations for generic integer types.
%

readonly proc Combinatoric (nm, field, rimpl) is
  local basic  = nm & "Combinatoric"
  local rfield = field & rimpl
  build_generic_intf (basic, "Combinatoric", [rfield], VISIBLE)
  build_generic_impl (basic, "Combinatoric", [rfield])
end
