%
%  Quake functions to instantiate generic power with integer exponent.
%

readonly proc IntegerPower (nm, field) is
  local basic = nm & "IntegerPower"
  build_generic_intf (basic, "IntegerPower", [field], VISIBLE)
  build_generic_impl (basic, "IntegerPower", [field])
end
