%
%  Quake functions to instantiate operations on generic complex numbers.
%

readonly proc ComplexBasic (nm, field, rfast) is
  local basic  = nm & "ComplexBasic"
  local rfield = field & rfast
  build_generic_intf (basic, "ComplexBasic", [rfield], VISIBLE)
  build_generic_impl (basic, "ComplexBasic", [rfield])
end

readonly proc ComplexFast (nm, field, rfast) is
  local basic  = nm & "ComplexBasic"
  local fast   = nm & "ComplexFast"
  local rfield = field & rfast
  build_generic_intf (basic, "ComplexBasic", [rfield], VISIBLE)
  build_generic_impl (basic, "ComplexBasic", [rfield])
  build_generic_intf (fast,  "ComplexFast",  [rfield], VISIBLE)
  build_generic_impl (fast,  "ComplexFast",  [rfield])
end


readonly proc ComplexTrans (nm, field, rfast, cfast) is
  local basic = nm & "ComplexTrans"
  local rfield = field & rfast
  local rtrans = field & "Trans"
  local cfield = field & "Complex" & cfast
  local ctrans = field & "ComplexTrans"
  build_generic_intf (basic, "ComplexTrans", [rfield, cfield], VISIBLE)
  build_generic_impl (basic, "ComplexTrans", [rfield, rtrans, cfield])
end

readonly proc ComplexFmtLex (nm, field, rfast, cfast) is
  local basic  = nm & "ComplexFmtLex"
  local rfield = field & rfast
  local rfmt   = field & "FmtLex"
  local cfield = field & "Complex" & cfast
  build_generic_intf (basic, "ComplexFmtLex", [        rfmt, cfield], VISIBLE)
  build_generic_impl (basic, "ComplexFmtLex", [rfield, rfmt])
end
