
%
%  Quake functions to instantiate generic listfuncs.
%

readonly proc ListFuncs (nm, elt, genlist) is
  local list = nm & "ListFuncs"
  build_generic_intf (list, "ListFuncs", [elt, genlist], VISIBLE)
  build_generic_impl (list, "ListFuncs", [elt, genlist])
end

readonly proc listfuncs (nm, elt, genlist) is
  local list = nm & "ListFuncs"
  build_generic_intf (list, "ListFuncs", [elt, genlist], HIDDEN)
  build_generic_impl (list, "ListFuncs", [elt, genlist])
end

