/*

Fonts 
Windows NT            Windows 95          Solaris           Family     
---------------------------------------------------------------------- 
Arial/Verdana         Arial               Helvetica         sans-serif 
Times New Roman       Times New Roman     Times                  serif 
Century Schoolbook    Bookman Old Style   New Century Schoolbook serif 
Georgia               Garamond            Utopia                 serif 
Lucida Sans Unicode   Tahoma              Lucida            sans-serif 
(NONE)                Futura Bk BT        Clean             sans-serif 


BODY { font-family: 'Lucida Sans Unicode', Tahoma, Lucida, sans-serif ; } 
BODY { font-family: 'Century Schoolbook', 'New Century Schoolbook', 'Bookman Old Style', serif ; } 
BODY { font-family: Verdana, Arial, Helvetica, sans-serif ; } 
BODY { font-family: Georgia, Garamond, Utopia, serif ; } 
BODY { font-family: 'Times New Roman', 'New Century Schoolbook', serif ; } 

*/

/* { font-family: Verdana, Arial, Helvetica, sans-serif ; */

/*
BODY
{ font-family: 'Lucida Sans Unicode', Tahoma, Lucida, sans-serif ;
       background:  #FFFFFF ;
       color     :  #000000 ; 
      }
*/

/* TD.highlight { background: #99CCFF } */
/* TD.highlight { background: #FFFFFF } */

H1,
H2,
H3,
H4,
H5,
H6 { font-family: 'Lucida Sans Unicode', Tahoma, Lucida, sans-serif ;
     font-size  : .98em ;
     background : #FFFFFF ;
     color      : #0077FF;
     text-align : center }

P.title { font-family: 'Lucida Sans Unicode', Tahoma, Lucida, sans-serif ;
          font-size  : .98em ;
          text-align : left }

SPAN.title { font-size  : 1.8em ;
             font-weight : bold; }


SPAN.emph    { font-size : 1.08em;
               font-weight : bold }

SPAN.unemph { font-size : .74em; }


SPAN.smaller { font-size : .74em; }

SPAN.info    { color: yellow ; background: green }
SPAN.warning { color: black ;  background: yellow }
SPAN.error   { color: black ;  background: red }
SPAN.new     { color: yellow ; background: blue }

/* "Hide" Anchor border from NS */
A.hidden { background: transparent ;
           color     : #FFFFFF }

/* Hide image border from IE 4.0 and supposed to work for NS 4.0 but doesn't */
IMG.hidden { border    : 0 }


IMG.middle { vertical-align: middle }

TD.baseline { vertical-align: baseline }

TD.top { vertical-align: top }

DD.indent { text-indent: -1em;
            padding-top:    0.33em;
            padding-left:   0 ;
            padding-right:  0 ;
            padding-bottom: 0.33em }

DT.toppad {
            padding-top:    0.5em;
            padding-left:   0 ;
            padding-right:  0 ;
            padding-bottom: 0 }

B.pink { background: transparent ;
	 color : #FFAAAA ; }

.tablebg { background: #DDEEFF }

.datebg { background: #FFFFB0 }

.sun {
  background: #F0F000;
}
