%
%  Quake functions to instantiate operations on chebyshev polynomials.
%

readonly proc ChebyPolynomialFast (nm, field) is
  local basic  = nm & "ChebyPolynomialFast"
  local rfield = field & "Basic"
  local rtrans = field & "Trans"
  local pfield = field & "PolynomialFast"
  build_generic_intf (basic, "ChebyPolynomialFast", [rfield, pfield], VISIBLE)
  build_generic_impl (basic, "ChebyPolynomialFast", [rfield, rtrans])
end
